<plist    name="jzgr">
    <layer    name="jzgr_0"    x="28 px"    y="12 px"    width="129 px"    height="79 px"    blendMode="BlendMode.NORMAL"    opacity="100"/>
    <layer    name="jzgr_1"    x="940 px"    y="784 px"    width="208 px"    height="209 px"    blendMode="BlendMode.NORMAL"    opacity="100"/>
    <layer    name="jzgr_2"    x="229 px"    y="784 px"    width="208 px"    height="209 px"    blendMode="BlendMode.NORMAL"    opacity="100"/>
    <layer    name="jzgr_3"    x="588 px"    y="784 px"    width="208 px"    height="209 px"    blendMode="BlendMode.NORMAL"    opacity="100"/>
    <layer    name="jzgr_4"    x="168 px"    y="744 px"    width="1030 px"    height="280 px"    blendMode="BlendMode.NORMAL"    opacity="100"/>
    <layer    name="jzgr_5"    x="182 px"    y="11 px"    width="261 px"    height="81 px"    blendMode="BlendMode.NORMAL"    opacity="100"/>
    <layer    name="jzgr_6"    x="749 px"    y="22 px"    width="594 px"    height="57 px"    blendMode="BlendMode.NORMAL"    opacity="100"/>
    <layer    name="jzgr_7"    x="523 px"    y="254 px"    width="770 px"    height="483 px"    blendMode="BlendMode.NORMAL"    opacity="100"/>
    <layer    name="jzgr_8"    x="659 px"    y="254 px"    width="514 px"    height="228 px"    blendMode="BlendMode.NORMAL"    opacity="100"/>
    <layer    name="jzgr_9"    x="1156 px"    y="467 px"    width="135 px"    height="72 px"    blendMode="BlendMode.NORMAL"    opacity="100"/>
    <layer    name="jzgr_10"    x="1156 px"    y="501 px"    width="135 px"    height="236 px"    blendMode="BlendMode.NORMAL"    opacity="100"/>
    <layer    name="jzgr_11"    x="660 px"    y="447 px"    width="175 px"    height="135 px"    blendMode="BlendMode.NORMAL"    opacity="100"/>
    <layer    name="jzgr_12"    x="996 px"    y="447 px"    width="177 px"    height="135 px"    blendMode="BlendMode.NORMAL"    opacity="100"/>
    <layer    name="jzgr_13"    x="660 px"    y="541 px"    width="512 px"    height="109 px"    blendMode="BlendMode.NORMAL"    opacity="100"/>
    <layer    name="jzgr_14"    x="996 px"    y="609 px"    width="176 px"    height="108 px"    blendMode="BlendMode.NORMAL"    opacity="100"/>
    <layer    name="jzgr_15"    x="525 px"    y="452 px"    width="135 px"    height="73 px"    blendMode="BlendMode.NORMAL"    opacity="100"/>
    <layer    name="jzgr_16"    x="525 px"    y="488 px"    width="135 px"    height="236 px"    blendMode="BlendMode.NORMAL"    opacity="100"/>
    <layer    name="jzgr_17"    x="660 px"    y="609 px"    width="175 px"    height="108 px"    blendMode="BlendMode.NORMAL"    opacity="100"/>
    <layer    name="jzgr_18"    x="148 px"    y="307 px"    width="343 px"    height="448 px"    blendMode="BlendMode.NORMAL"    opacity="100"/>
    <layer    name="jzgr_19"    x="0 px"    y="0 px"    width="1408 px"    height="1024 px"    blendMode="BlendMode.NORMAL"    opacity="100"/>
</plist>